#logo {
    width:120px;
}

.nav-link {
    font-size: 30px;
}

.navbar-nav li {
    margin-left: 20px;
    margin-right: 20px;
}

.title {
    text-align: center;
    margin-top: 85px;
}

#mainLogo {
    text-align: center;
    margin-top: 100px;
}

#mainLogo img {
    width: 450px;
}


#listen-button {
    text-align: center;
    margin-top: 200px;
}

#bio {
    font-size: 25px;
}

.container {
    margin-top: 100px;
}

.col {
    margin-left: 20px;
}

.border-bottom {
    width: 200px;
}


.navbar-brand img:hover {
    opacity: 0.3 !important;
}

.btn {
    margin-left: 20px;
    margin-right: 20px;
}

.table .thead-dark th {
    background-color: rgba(0,0,0,.9)!important;
}

.appStore {
    margin-top: 150px;
    text-align: center;
    margin-bottom: 100px;
}

.appStore img {
    width: 200px;
}

.appStore img:hover {
    opacity: 0.5;
}